.flex-cont {
    justify-content: center;
  }


.flex-cont {
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

.article {
    flex-basis: 45%;
    margin-right: 2%;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 10px;
}

div {
    display: block;
}

.article>span {
    font-size: 1.15em;
    width: 85%;
    margin: 7px 7.5%;
    float: left;
    color: #333;
}

.card-header {
  font-size: 0.8em;
}

.row {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.col {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
}

.card {
  width: 300px;
}
